<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804090316597-jtqtjs8cr0tv6adbe6svehs02a5bk8hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804090316597-jtqtjs8cr0tv6adbe6svehs02a5bk8hi</string>
	<key>API_KEY</key>
	<string>AIzaSyBplp3Lp6hki987hhag-2O8tsdsdds5PxA</string>
	<key>GCM_SENDER_ID</key>
	<string>804090316597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safefoodieFresh</string>
	<key>PROJECT_ID</key>
	<string>safefoodie-fresh</string>
	<key>STORAGE_BUCKET</key>
	<string>safefoodie-fresh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804090316597:ios:383d27e0b0e381575d2e7c</string>
	<key>DATABASE_URL</key>
	<string>https://safefoodie-fresh-default-rtdb.firebaseio.com</string>
</dict>
</plist>