<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932850866606-8hc3g5o46pog1i2ejq7411f5v31942j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932850866606-8hc3g5o46pog1i2ejq7411f5v31942j1</string>
	<key>API_KEY</key>
	<string>AIzaSyCRmeDfoociiSbviNFJXSlTRxzYKB14A6M</string>
	<key>GCM_SENDER_ID</key>
	<string>932850866606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safefoodieLoginMerge</string>
	<key>PROJECT_ID</key>
	<string>safe-5adff</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-5adff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932850866606:ios:a65eee2df7a56f2a06103f</string>
</dict>
</plist>